@font-face {
    src: url("fonts/Pacifico.ttf");
    font-family: "Pacifico";
}

@font-face {
    src: url url("fonts/Karla-Regular.ttf");
    font-family: "Karla";
    font-weight: normal;
}

@font-face {
    src: url url("fonts/Karla-Bold.ttf");
    font-family: "Karla";
    font-weight: bold;
}

h1, h2, h3 {
    font-family: "Pacifico", Arial, sans;
}

* {
    font-family: "Karla", Arial, sans;

}


/* Header */

header {
    background: black;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2em 0;

    display: flex;
    flex-direction: column;

}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    
}

header img {
    max-width: 50%;
    margin: auto;
    margin-bottom: 2em;
    display: block;

}

header nav {
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    display: flex; 
    justify-content: space-around;
}

main {
    margin-top: 9em;
    margin-bottom: 
}


/* Masthead */

.masthead {
    background-image: 
    linear-gradient(to right, rgba(8, 8, 8, 0.25), rgba(245, 245, 245, 0.25)), url('images/kayak-bkgd.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center, center center;
    padding: 4em 0;
}

.masthead .center-text {
    width: 100%;
    color: white;
    text-align: center;
}

.masthead p {
    color: white;
    margin: 2em auto;
    background: rgba(0, 0, 0, 0.6);
    font-size: .75em;
    line-height: 1.25;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
    padding: 0.75em 1em;

}

.masthead a {
    display: block;
    margin: auto;
    text-align: center;
    font-size: .75em;
    color: white;
    text-decoration: none;
    padding: 1.25em;
    letter-spacing: 1px;

    width: 25%;
    background-color: #e2574c;
    border-radius: 60px;
    text-transform: uppercase;

}

.masthead a:hover {
    background-color: rgba(83, 83, 83, 0.5);
}

.giant-head {
    font-size: 3em;
    color: white;
    margin: .5em 0;
}
.medium-head {
    font-size: 2em;
    color: white;
    margin: .5em 0;
}
.smaller-head {
    font-size: 1.25em;
    color: white;
    margin: .5em 0;

}


/* SECTIONS */

.large-heading{
    font-size: 3em;
    color: #646464;
    text-align: center;
    margin: 1em 0;

}

section p {
    text-align: center;
    color: #2d2d2d;
    font-size: .75em;
    line-height: 2;
    width: 80%;
    margin: 2em auto;
    letter-spacing: .75px;

}

#rentals a{
    color: red;
}


#rentals p{
    text-align: left;
    font-size: .75em;
    line-height: 2;
    width: 80%;
    margin: 2em 1em;
    letter-spacing: .75px;
}


body {
    width: 100%;

}


img {
    max-width: 100%;

}


/* TABLE */

table {
    width: 95%;
    margin: auto;
    
}

th {
    height: 40px;
    text-align: center;
    background-color: #d8d6d6;
    vertical-align: center;
    padding: 20px 0 0 0;
}


td {
    padding: 15px;
    text-align: left;
    
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}


.rental prices th {
    padding: 15px;
    text-align: center;
}


/* LOCATION */





/* FOOTER */

footer {
    background: black;
    width: 100%;
    height: 17em;
    top: 1em;
    padding: 2em 0;

}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: .75em;
    line-height: 1.5;
    width: 80%;
    margin: 2em auto;
    letter-spacing: .75px;

}

footer a {
    color: #ffffff;
}


footer i {
    color: #ffffff;

}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em auto;
}


/* Tablet Breakpoint*/

@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    .images {
        flex-direction: row;
    }

    .images img{
        max-width: 30%;
    }
}

