@font-face {
    src: url("fonts/Pacifico.ttf");
    font-family: "Pacifico";
}

@font-face {
    src: url url("fonts/Karla-Regular.ttf");
    font-family: "Karla";
    font-weight: normal;
}

@font-face {
    src: url url("fonts/Karla-Bold.ttf");
    font-family: "Karla";
    font-weight: bold;
}

h1, h2, h3 {
    font-family: "Pacifico", Arial, sans;
}

footer {
    font-family: "Karla", Arial, sans;
}

* {
    font-family: "Karla", Arial, sans;

}


/* Header */

header {
    background: black;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 1.5em 0;

    display: flex;
    flex-direction: column;
}

header a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: "Karla", Arial, sans;
    font-size: 1em;
}

header nav a:hover {
    color: rgba(185, 182, 182, 0.5);
}

header img {
    max-width: 50%;
    margin: auto;
    margin-bottom: 2em;
    display: block;

}

header nav {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    width: 80%;
    margin: auto;
    display: flex; 
    justify-content: space-around;
}

/* MAIN */

main {
    margin-top: 7.9em;
}


/* Masthead */

.masthead {
    background-image: 
    linear-gradient(to right, rgba(8, 8, 8, 0.25), rgba(245, 245, 245, 0.25)), url('images/kayak-bkgd.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center, center center;
    padding: 4em 0;
}

.masthead .center-text {
    width: 100%;
    color: white;
    text-align: center;
}

.masthead p {
    color: white;
    margin: 2em auto;
    background: rgba(0, 0, 0, 0.6);
    font-size: .75em;
    line-height: 1.25;
    letter-spacing: 1px;
    width: 60%;
    text-align: center;
    padding: 0.75em 1em;
}

.masthead a {
    display: block;
    margin: auto;
    text-align: center;
    font-size: .75em;
    color: white;
    text-decoration: none;
    padding: 1.25em;
    letter-spacing: 1px;
    width: 25%;
    background-color: #e2574c;
    border-radius: 60px;
    text-transform: uppercase;
}

.masthead a:hover {
    background-color: rgba(83, 83, 83, 0.5);
}

.giant-head {
    font-size: 3em;
    color: white;
    margin: .5em 0;
}
.medium-head {
    font-size: 2em;
    color: white;
    margin: .5em 0;
}
.smaller-head {
    font-size: 1.25em;
    color: white;
    margin: .5em 0;
}


/* SECTIONS */


.large-heading {
    font-size: 3em;
    color: #646464;
    text-align: center;
    margin: 1em 0;
}

section p {
    text-align: center;
    color: #2d2d2d;
    font-size: .75em;
    line-height: 2;
    width: 80%;
    margin: 2em auto;
    letter-spacing: .75px;
}

body {
    width: 100%;
}


img {
    max-width: 100%;
}

/* rentals */

#rentals a {
    color: red;
}

#rentals a:hover {
    color: rgba(185, 182, 182, 0.5);
}


#rentals p {
    text-align: center;
    font-size: .75em;
    line-height: 2;
    width: 80%;
    margin: 2em auto;
    letter-spacing: .75px;
}

#rentals {
    display: flex;
    flex-direction: column;
}


/* TABLE */

table {
    width: 95%;
    margin: auto;
}

th {
    height: 35px;
    text-align: center;
    background-color: #d8d6d6;
    vertical-align: center;
    padding: 20px 0 0 0;
}

td {
    padding: 13px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #a09f9f;
}

.rental prices th {
    padding: 13px;
    text-align: center;
}

td:first-child {
    text-align: left;
}


/* LOCATION */

.map{
    width: 95%;
    height: 250px;
    margin: 0 auto 2em auto;
    display: block;
}



/* FOOTER */

footer {
    background: black;
    width: 100%;
    height: 17em;
    top: 1em;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
}

footer p {
    color: #ffffff;
    font-size: .75em;
    line-height: 1.5;
    width: 85%;
    margin: 2em auto;
    letter-spacing: .75px;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}


footer .icons {
    color: #ffffff;
    font-size: .9em;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em auto;   
    width: 50%; 
}

footer a:hover {
    color: rgba(185, 182, 182, 0.5);
}

.footer-notes p:last-child {
    color: #a09f9f;

}

/* GENERAL */

.hide-on-mobile {
    display: none;
}



/* Tablet Breakpoint*/

@media screen and (min-width: 600px) {
    
header {
    flex-direction: row;
    justify-content: space-between;
    max-height: 40px;
    align-items: center;
    padding: 0.5em;
}

header img {
    max-width: 25%;
    margin: 0;
}

header nav {
    max-width: 30%;
    margin-right: 1em;
}

main {
    margin-top: 2.9em;
}

.masthead p {
    width: 45%;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.images img{
    max-width: 32%;
}

.rental-notes {
    width: 50%;
}

.rental-prices {
    width: 50%;
    margin-right: 1em;
}

#rentals .rental-notes p {
    text-align: left;
    margin-left: 1em;
}

#rentals {
    flex-direction: row;
    justify-content: space-between;
}

.hide-on-mobile{
    display: initial;
    margin-left: 0.5em;        
}

footer {
    flex-direction: row;
    justify-content: space-between;
}

footer .icons  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 16%;
    margin-left: 0;
    margin-right: 0;
}

footer .icons a {
    text-align: left;
    margin-top: 1em;
}

footer .footer-notes p {
    text-align: left;
} 



} 
